
.title{
    margin: 0px;
    line-height: 20px;
    display: block;
    color: rgb(56, 56, 61);
    font-size: 14px;
    padding: 12px 0px;
    font-weight: 500;
}
.link{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(56, 56, 61);
    padding: 0px 0px 12px;
    line-height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}