@import-normalize; /* bring in normalize.css styles */

:root {  
    --text-color: rgb(128, 128, 137);
    --font-family:'Inter', sans-serif;
    --white-color:#fff;
    --black-color:#000;
    --height-header: 96px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

.wrapper-btn-account:hover{
    background-color:rgba(39, 39, 42, 0.12)!important;
    border-radius: 8px;
}
.notLink{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    font-size: 1.4rem;
    line-height: 21px;
    font-weight: 500;
    font-size: 1.4rem;
}


  
