.container{
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f5f5fa;
}
.title{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 0;
    h4{
        font-size: 2rem;
        font-weight: 500;
        margin: 0px;
        color: rgb(0, 0, 0);
        line-height: 28px;
        text-transform: uppercase;
        flex-basis: calc(797px);
    }
}
input[type='checkbox'] { 
    margin-right: 10px;
 }
