.main-header {
    position: relative;
    background: rgb(255, 255, 255);
    padding: 8px 0px;
    z-index: 999;
}
.container-header {
    width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}
.container-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 0 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
}
.middle-header {
    display: flex;
    height: 40px;
    position: relative;
    z-index: 2;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: normal;
}
.bottom-header {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 1;
    letter-spacing: normal;
}
.middle-left {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
} 
.logo-menu {
    margin-right: 48px;
    flex-basis: unset;
} 
.tiki-logo {
    width: 100%;
    height: 100%;
    .logo{
        object-fit: contain;
        width: 72px;
        height: 72px;
    }
}
.cart-wrapper{
    position: relative;
    display: block;
}
.cart-container{
    margin-left: 24px;
    position: relative;
    padding: 0px !important;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        background-color: rgba(0, 96, 255, 0.12);
    }
    &::before{
        content: "";
        top:20%;
        display: block;
        height: 20px;
        position: absolute;
        left: -12px;
        border: 1px solid rgb(235, 235, 240)
    }
}
.cart-content{
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.cart-img{
    width: 24px;
    height: 24px;
}
.cart-quantity{
    color: rgb(255, 255, 255);
    background: rgb(255, 66, 79);
    height: 16px;
    right: 0px;
    top: -4px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    position: absolute;
    padding: 0.5px 4px;
}
.header-quickLinks {
    display: flex;
    height: 24px;
    width: 712px;
    margin-top: 8px;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}
.header-quickLink-item {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(128, 128, 137);
    margin-right: 12px;
    white-space: nowrap;
}

.location-wrapper{
    margin-top: 8px;
    max-width: 348px;
    flex: 0 0 348px;
}
.location-container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.header-icon-location{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.title{
    margin: 0px;
    display: block;
    color: rgb(128, 128, 137);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    padding-right: 4px;
    white-space: nowrap;
}
.address{
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(39, 39, 42);
}

// RESPONSIVE
/* MOBILE AND TABLET */
@media screen and (max-width:1023px) {  
    .hide-on-mobile-and-tablet{
        display: none;
    }
    .logo-menu{
        margin-right: 0;
    }
    .container-header{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .container-wrapper{
        align-items: center;
    }
}
/* TABLET */
@media screen and (min-width: 740px) and (max-width:1023px){ 
    :root{
        --height-header:80px;
    }
    .hide-on-tablet{
        display: none;
    }
}
/* MOBILE */
@media screen and (max-width : 739px) {
    .hide-on-mobile{
        display: none;
    }
    .container-header{
        padding-left: 4px;
        padding-right: 4px;
    }
    .cart-content{
        width: 35px;
    }
}